flask
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
gunicorn
pypdf
pdfminer-six
python-docx
unstructured
trafilatura
python-multipart
werkzeug
openpyxl
email-validator
python-dotenv
pinecone